.map {
    height: 300px;
    width: 300px;
}

@media(min-width:576px){
    .map {
        height: 300px;
        width: 300px;
    }
}
@media(min-width:768px){
    .map {
        height: 300px;
        width: 300px;
    }
}
@media(min-width:992px){
    .map {
        height: 500px;
        width: 500px;
    }
}
@media(min-width:1200px){
    .map {
        height: 500px;
        width: 500px;
    }
}